.jumbotron {
  padding-top: 5rem;
  background-color: #d6e1f0;
}

.about {
  padding-top: 2rem 1rem;
  background-color: #b0c4de;
}

.projek {
  padding-top: 2rem 1rem;
  background-color: #d6e1f0;
}

.contact {
  padding-top: 2rem 1rem;
  background-color: #b0c4de;
}
